$color-black: #000000;
$color-gray: #5d5d5d;
$color-orange: #ff6000;
$color-light-gray: #ebebeb;
$color-gray: #a4a4a4;
$color-red: #f24545;
$color-light-blue: rgb(87, 184, 216);
$h1-font-size: 55px;
$h3-font-size: 34px;
$h4-font-size: 21px;
$p-font-size: 16px;
$span-font-size: 18px;

$color-name: $color-black;
$color-info: $color-gray;
$color-rate: $color-black;
$color-max-rate: $color-gray;
$color-progressbar-background: $color-light-gray;
$color-progress: $color-orange;
$color-button: $color-orange;
$color-line: $color-gray;
